*{
    margin: 0;
    padding: 0;
}

.parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 14px;
}

.container-1{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    padding: 55px;
    border: none;
    background-color: ghostwhite;
    box-shadow: 0px 0px 24px -5px grey;
    border-radius: 33px;
}

.container-1 ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    gap: 2rem
}

.container-1 ul li{
    text-align: center;
    border: 1px solid black;
    padding: 12px 16px;
    border-radius: 22px;
    background-color: black;
    box-shadow: 0px 0px 12px 2px grey;
}

.container-1 ul li a{
    text-decoration: none;
    color: white;
}