/* TransactionPage.css */

.transaction-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .payment-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .mobile-payment,
  .checkout-counter {
    margin: 10px;
    font-size: 14px;
    font-weight: 800;
    padding: 10px;
    border-radius: 8px;
    background-color: #f9f9f9;
    flex-grow: 1; /* Each item takes up equal available space */
    border: none;
    box-shadow: 0px 0px 16px -12px;
    width: 312px;
    text-align: center;
  }
  
  
  .barcode-image {
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
    background-color: white;
    border: 1px solid white;
    height: 180px;
    width: 62%;
  }
  
  .amount-to-pay {
    margin-top: 10px;
    text-align: center;
  }

.mobile-payment ul{
    margin-top: 2rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
}

.mobile-payment ul li{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background-color: white;
    padding: 12px 81px;
    border: none;
    border-radius: 16px;
    box-shadow: 0px 0px 12px -8px;
}

.mobile-payment ul li img{
    height: 22px;
}
  
.checkout-counter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 315px;
    flex-direction: column
}

h2{
    font-size: 16px;
}
  /*@media (min-width: 350px) and (max-width: 600px) {
   
    .payment-options {
        flex-direction: column; 
        align-items: stretch;
      }
    
      .mobile-payment,
      .checkout-counter {
        width: 100%; 
      }
  
  
  }*/
  
  
  
  